<div>
  <h1>稻谷历史交易记录</h1>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>交易时间</th>
        <th>交货地址</th>
        <th>品种</th>
        <th>等级</th>
        <th>年份</th>
        <th>交易数量</th>
        <th>起始价格</th>
        <th>最终价格</th>

      </tr>
    </thead>
    <tbody>
      <% (0..(@gg.size - 1)).each do |i| %>
        <tr>
          <th><%= @gg[i].created_at.strftime('%Y-%m-%d') %></th>
          <th><%= @gg[i].address %></th>
          <th><%= @gg[i].variety %></th>
          <th><%= @gg[i].grade %></th>
          <th><%= @gg[i].year %></th>
          <th><%= @gg[i].trade_amount %></th>
          <th><%= @gg[i].starting_price %></th>
          <th><%= @gg[i].latest_price %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
