<script charset="utf-8">
  function submitForm(){
    var form = document.getElementById("myform");
    form.submit();
}
</script>
<div>
  <h1><%= @variety %>历史交易记录</h1>
  <table class='table table-bordered table-striped'>
    <thead>
      <tr>
        <td>交易时间</td>
        <td>交货地址</td>
        <td>类型</td>
        <td>
      <!--  <form action="/home/grain_home/" method="get" accept-charset="utf-8" id="myform">
        -->
        <%= form_tag({controller: "home", action: "grain_home"}, method: "get", id: "myform") do %>
          <select onchange="submitForm()" name="variety">
            <option value="品种" selected = "selected">品种</option>
            <option value ="中晚籼稻">中晚籼稻</option>
            <option value="早籼稻">早籼稻</option>
            <option value="粳稻">粳稻</option>
            <option value="玉米">玉米</option>
            <option value="大豆">大豆</option>
            <option value="混合麦">混合麦</option>
          </select>
        <% end %>
        <!-- </form> -->
        </td>
        <td>等级</td>
        <td>年份</td>
        <td>交易数量</td>
        <td>起始价格</td>
        <td>最终价格</td>

      </tr>
    </thead>
    <tbody>
      <% (0..(@redis.size - 1)).each do |i| %>
        <tr>
          <td><%= @redis[i]['created_at'].to_time.strftime('%Y-%m-%d') %></td>
          <td><%= @redis[i]['address'] + "(#{@redis[i]['mark_number']})" %></td>
          <td><%= @redis[i]['trantype'] %></td>
          <td><%= @redis[i]['variety'] %></td>
          <td><%= @redis[i]['grade'] %></td>
          <td><%= @redis[i]['year'] %></td>
          <td><%= @redis[i]['trade_amount'] %></td>
          <td><%= @redis[i]['starting_price'] %></td>
          <td><%= @redis[i]['latest_price'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

